
/*===========main styles=======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu ,Arial,sans-serif;
    /*border: 1px solid black;*/

}

.container{
    width: 1170px;
    margin: 0 auto;
    height: 100%;

}
.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.fontSize10px{font-size: 10px;}
.fontSize12px{font-size: 12px;}
.fontSize14px{font-size: 14px;}
.fontSize16px{font-size: 16px;}
.fontSize18px{font-size: 18px;}
.fontSize20px{font-size: 20px;}
.fontSize22px{font-size: 22px;}
.fontSize24px{font-size: 24px;}
.fontSize26px{font-size: 26px;}
.fontSize28px{font-size: 28px;}
.fontSize30px{font-size: 30px;}
.fontSize36px{font-size: 36px;}
.fontSize40px{font-size: 40px;}
.fontSize44px{font-size: 44px;}



/*=========header==============*/

html{

}

body{
    /*background: #def0ff;*/

	background:url('../img/background.jpg') no-repeat center center;
	/* Элемент html всегда будет располагаться на всю высоту окна браузера */
	min-height:100%;
	/* Выводим фон на весь экран */
	background-size:cover;

    position: relative;
    float: left;
    min-width: 1200px;
    min-height: 800px;
    width: 100%;
    height: 100vh;
}




/*LOG OUT**/
.log-out{
    position: absolute;
    top: 2%;
    right: 2%;
    height:55px;
    width: 350px;
    border-radius: 3px;
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.log-out a{
    background-color: #efefef;
    width: 136px;
    height:35px;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    color: #585858;
    -webkit-transition: 0.5s ;
}

.log-out a:hover{
    background-color: #dedede;
}

/*==================LEFT BAR================**/
.leftBar{
    position: relative;
    float: left;
    left: 0;
    top: 0;
    height: 100%;
    width: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.18);
}

.logo img{
    padding: 15px 15px 20px 15px;
    max-width: 100%;
}
.logo{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.fa-sticky-note-o,.fa-folder-o{
    font-size: 60px;
    color: rgba(0,0,0,0.8);

}
.create-new{
    padding: 15px;
    height: 155px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.18);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.create-item{
    text-align: center;
}
.allFolders{
    height: auto;
    width: 100%;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.18);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    overflow: auto;


}
.folder{
    color:#000;
    position: relative;
    width: 100%;
    height: 50px;
display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.folder:hover{

}
.folder a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}
.folder a span:first-child{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.folder-nmb,.folder .trash{
    width: 10%;
    font-size: 14px;

    visibility: visible;
}
.folder .trash{
    display: none;
}

.trash .fa-trash{
    font-size: 14px;
}

.delete{
    text-decoration: none !important;


}
.del{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.14);
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.18);

}
.fa-trash{
    font-size: 60px;
    color:black;
}

/*===================MAIN SPACE==============*/

.mainSpace{
    width: 81%;
    height: 100%;
    float: left;
    position: relative;
}
.nameFolder{
    position: absolute;
    top: 3%;
    left: 3%;
    color:white;
}

/*Note*/
/*.note{
    height: auto;
    position: absolute;
    top:300px;
    left: 400px;
    background-color: #fde576;
    padding: 0;
    box-shadow: 5px 9px 7px 0px rgba(0, 0, 0, 0.11);
}

.noteHeader{
    height: 31px;
    background: #e2c748;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    position: relative;

}
.deleteFromNote{
    position: absolute;
    right: 5px;
    font-size: 16px;

}
.deleteFromNote a{
    text-decoration: none;
    color: black;
}
.note textarea{

    background-color: #fde576;
    border: none;
    min-height: 100px;
    min-width: 200px;
    margin: 0;
    padding: 10px;
    resize: both;
}

.note textarea::-webkit-scrollbar-track{
    background-color: #fde576;
}

.note textarea::-webkit-scrollbar{
    width: 10px;
    background-color: #fde576;

}

.note textarea::-webkit-scrollbar-thumb{

     border-width:1px 1px 1px 2px;
     border-color: #e2c748;
     background-color: #e2c748;
    border-radius: 5px;
 }*/

#pad{
    visibility: hidden;
	position:relative;
	width: 374px;
	margin: 225px auto 40px;
}

#note{
	font: normal 15px 'Courgette', cursive;
	line-height: 17px;
	color:#444;
	background: url('../img/mid.png') repeat-y;
	display: block;
	border: none;
	width: 374px;
	min-height: 250px;
	overflow: hidden;
	resize: none;
	outline: 0px;
	padding: 0 10px 0 35px;
    margin-top: -10px;
}

#pad h2{
	background: url('../img/header.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	height: 69px;
	position: relative;
}

#pad:after{
	position:absolute;
	content:'';
	background:url('../img/footer.png') no-repeat;
	width:100%;
	height:40px;
}

a.buttonAdd {
    position: relative;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 1px #cc5500;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    border-radius: 1px;
    background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
    background-size: 100% 100%, auto;
    background-position: 50% 50%;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
    transition: 0.2s;
    margin: 0px 0px 0px 47%;
    width:100px;
}
a.buttonAdd:hover {
    background-size: 140% 100%, auto;
}
a.buttonAdd:active {
    top: 1px;
    color: #ffdead;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}

#buttonAddDiv {
    visibility: hidden;
}