<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>OnlineNote</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--fonts-->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet"/>
	<!--logo-->
	<link rel="shortcut icon" href="/static/img/left-wheel.png" type="image/png"/>
	<!--icons-->
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
	<!-- CSS - main -->
	<link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
	<!-- CSS - responsive -->
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css"/>
</head>
<body>

<header>
	<div class="opacity60">
		<div class="container">
			<div class="navbarTop">
				<a href="#">
					<div class="logUp">
						<span>LOGIN UP</span>
					</div>
				</a>
				<a href="#">
					<div class="logIn">
						<span>LOGIN IN</span>
					</div>

				</a>

			</div>
			<div class="logo"><img src="/static/img/Logo.png" alt="no_uploaded_photo"/></div>
			<div class="getStarted"><a href="#">
				<div class="logIn">
					<span>GET STARTED</span>
				</div>

			</a></div>
			<div class="leftText"><span>Use notes in any workplace, in any browser, operating system and device</span>
			</div>
			<div class="rightText"><span>We made sure that you could view your NOTES at home, at work, in transport, on vacation, from any computer, phone or tablet.</span>
			</div>
			<div class="platformIcons"><img src="/static/img/os.png" alt="no_uploaded_photo"/></div>
		</div>
	</div>
</header>
<div class="browsersSection">
	<div class="wrap">
		<h3>Use any browser</h3>
		<div class="allBrowsers">
			<div class="browserItem"><img src="/static/img/cr.png" alt="no_uploaded_photo"/><span>Chrome</span></div>
			<div class="browserItem"><img src="/static/img/YAndeks.png" alt="no_uploaded_photo"/><span>Yandex</span>
			</div>
			<div class="browserItem"><img src="/static/img/mozilla.png" alt="no_uploaded_photo"/><span>Firefox</span>
			</div>
			<div class="browserItem"><img src="/static/img/opera3.png" alt="no_uploaded_photo"/><span>Opera</span></div>
			<div class="browserItem"><img src="/static/img/internet9.png" alt="no_uploaded_photo"/><span>Explorer</span>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="contentItem">
		<img src="/static/img/contentItem1.png" alt="no_uploaded_photo"/>
		<div class="text">
			<h3>Why should I use this?</h3>
			<ul>
				<li>FIX IDEAS FOR FUTURE BOOKS!</li>
				<li>DO NOT LOSE PAPER STICKERS WITH PHONES OR E-MAIL ADDRESSES</li>
				<li>KEEP A VARIETY OF "FAST" INFORMATION, SOME NOTES.</li>
				<li>SAVING SOMETHING FROM THE DESKTOP, THEN IT'S EASY TO FIND IT ON YOUR HOME COMPUTER!</li>

			</ul>
		</div>
	</div>
	<div class="contentItem">
		<img src="/static/img/contentItem2.png" alt="no_uploaded_photo"/>
		<div class="text">
			<h3>Notes online</h3>
			<p>
				You will like to create, edit and even delete notes.
				It's so simple that it gives pleasure. Create and use
				your notes on any computer. You only need internet
				to access to your personal repository.

			</p>
		</div>
	</div>
	<div class="contentItem">
		<img src="/static/img/contentItem3.png" alt="no_uploaded_photo"/>
		<div class="text">
			<h3>Site features:</h3>
			<ul>
				<li>Autosave</li>
				<li>Formatting text in a visual or regular editor</li>
				<li>Opening a link by pressing Ctrl + mouse click</li>
				<li>Sorting pages in notepad by dragging</li>
				<li>Search by notebooks</li>
				<li>The ability to encrypt data on the client side</li>
				<li>Daily backups</li>

			</ul>
		</div>
	</div>

</div>
<div class="footer">
	<div class="opacity60">
		<h1>DO YOU WANT TO SAFe SOME TREES ?</h1>
		<div class="getStarted"><a href="#">
			<div class="logIn">
				<span>GET STARTED</span>
			</div>

		</a></div>
		<div class="about">
			<div class="who">&copy; Copyright 2017 gr. 951<br/>
				<a href="#">DIIT.COM</a>
			</div>
			<div class="socialButtons">
				<a href="">
					<i class="fa fa-facebook"></i>
				</a>
				<a href="">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="">
					<i class="fa fa-youtube-play"></i>
				</a>
				<a href="">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>